*{
    font-family: 'poppins',sans-serif;
  }
  .h-font{
    font-family: 'merienda',cursive;
  }
    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    /* Firefox */
    input[type=number] {
      -moz-appearence: textfield;
    }
    .custom-bg{
      background-color: #2ec1ac;
      /* border:1px solid #2ec1ac; */
    }
    .custom-bg:hover{
      background-color: #279e8c;
      /* border: #279e8c; */
    }
    .h-line{
      width: 170px;
      margin: 0 auto;
      height: 1.7px;
    }